APP_NAME="Sistema de Inventario"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://inventario.undc.edu.pe
WEB_PORT=8081

APP_LOCALE=es
APP_FALLBACK_LOCALE=es
APP_FAKER_LOCALE=es_PE

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=sis_inventario
DB_USERNAME=sis_inventario
DB_PASSWORD=

MYSQL_DATABASE=sis_inventario
MYSQL_USER=sis_inventario
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=

OCS_API_URL=
OCS_API_TIMEOUT=15